@mixin setFont($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin setFlex($flexType, $justifyType, $alignType , $direction) {
    display: $flexType;
    justify-content: $justifyType;
    align-items: $alignType;
    flex-direction: $direction;
}
