@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alata&family=Biryani:wght@200;300;400;600;700;800;900&display=swap");

@import "_variables.scss";

@import "_mixins.scss";

body {
  font-family: "Biryani";
  // background-color: blue;
}

* {
  margin: 0;
  padding: 0;
}
section {
  min-height: 100vh;
}

.title {
  font-size: 7rem;
  // font-family: "Alata";
  font-weight: 300;
  font-size: clamp(3rem, 0.6rem + 6vw, 10rem);
}

.cta {
  cursor: pointer;
  color: #fff;
  border-radius: 12px;
  background: #2d60ec;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 12px 20px 10px 20px;
  span {
    margin-left: 8px;
  }
}
#cursor {
  --x: 50%;
  --y: 50%;
  pointer-events: none;
  width: 3rem;
  height: 3rem;
  border: solid 1px #ffffff32;
  border-radius: 50%;
  position: fixed;
  top: var(--y);
  left: var(--x);
  // transition:  0.35s ease width, 0.35s ease height, 0.35s ease border,
  //   0.35s ease background-color;
  // transform: translate(-50%, -50%);
  transition: .16s all ease;
  z-index: 10;
}

#cursor.button {
  width: 5rem;
  height: 5rem;
  border: solid 1px transparent;
  background: #ffffff80;
}

.navigation {
  align-items: center;

  --font-color: #000;
  .magnetic {
    font-weight: 300;
    Ë &::after {
      content: "";
      width: 24px;
      height: 1px;
      border-radius: 4px;
      background: var(--font-color);
      display: block;
      transition: all 0.34s ease-out;
    }
  }
  .magnetic:hover {
    &::after {
      width: 100%;
    }
  }
}

.hero {
  // position: absolute;
  background-color: #00000018;
  font-family: "Advent Pro";
  min-height: calc(100vh - 24px);
  border-radius: 0 0 2rem 2rem;
  header {
    font-family: "Biryani";
    font-weight: 600;
  }
  .banner {
    height: 100vh;

    .banner-text {
      font-size: 6rem;
      font-size: clamp(3rem, 0.6rem + 6vw, 10rem);
      line-height: 6.2rem;
      font-weight: 500;
      display: inline-block;
      position: relative;
    }

    .banner-text > span {
      position: relative;
      overflow: hidden;
      display: block;
    }
    .banner-text > span > span {
      display: inline-block;
      transition: 0.6s ease-out all;
      // transition-timing-function: cubic-bezier(1, 0.01, .01, 99);
    }
    .banner-text > span > span:nth-of-type(2) {
      transition-delay: 0.1s;
    }
    .banner-text > span > span:nth-of-type(3) {
      transition-delay: 0.2s;
    }
    .banner-text span > span > span {
      content: attr(data-text);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(200%);
    }

    .banner-text:hover > span > span,
    .banner-text:focus > span > span {
      transform: translateY(-200%);
    }

    .banner-tagline {
      font-size: 3.625rem;
      font-size: clamp(1.8rem, 0.6rem + 3vw, 4.8rem);
      opacity: 0.8;
    }
    .display {
      top: calc(100vh / 24 * 8);
    }
  }

  .skill-slide {
    margin-top: max(24rem, calc(100vh / 24 * 21 - 24px));
    overflow: hidden;
    border: 1px solid #909090;
    border-left: none;
    border-right: none;
    color: #737373;
    font-family: "Alata";
    align-items: center;

    .skill-item {
      margin-right: clamp(1rem, 8vw, 7.4rem);
      font-size: 0.9rem;
      font-weight: 300;
    }
    .skill-item::before {
      content: "*";
      width: 10px;
      height: 10px;
      margin: 0px 8px 0px 0px;
      border-radius: 50%;
    }
  }
}
.body-text-large {
  font-size: 2.8rem;
  font-size: clamp(1.6rem, 0.6rem + 2.4vw, 3.6rem);
  font-weight: 300;
  // line-height: 4;
}
.about {
  .changing-image {
    background: black;
    border-radius: 12px;
    width: 100%;
    height: 500px;
  }

  .short-description {
    font-weight: 300;
    font-family: "Advent Pro";
    font-size: 1.5rem;
  }
}
.expertise {
  .expertise-item {
    .title {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-size: clamp(1rem, 0.6rem + 2vw, 2rem);
    }
  }
  .img-cont {
    width: 100%;
    background: #777;
  }
  .desc {
    opacity: 0.74;
    font-size: 2rem;
    font-size: clamp(1.2rem, 0.6rem + 1.6vw, 3rem);
    font-weight: 300;
  }
  .years {
    .year {
      font-family: "Advent Pro";
      font-size: 7rem;
      font-size: clamp(4rem, 0.6rem + 6vw, 10rem);
      font-weight: 700;
    }
    .duration {
      font-weight: 300;
      font-size: 2rem;
      font-size: clamp(1.6rem, 0.6rem + 1.6vw, 3rem);
    }
  }
}

.just-legible {
  font-size: 0.8rem;
  opacity: 0.6;
}

.bg-opaque {
  z-index: 5;
  position: relative;
  background: #ffffff18;
  border-radius: 4rem;
  .body-text-large {
    font-size: clamp(1.2rem, 0.6rem + 2vw, 3rem);
    opacity: 0.8;
  }
  .text-right {
    opacity: 0.4;
  }
  .image-highlight {
    width: 80%;
    background: grey;
    height: 16rem;
  }
}

.portfolio {
  .portfolio-card {
    background: linear-gradient(black, grey);
    font-weight: 300;
    text-transform: uppercase;

    .pill {
      font-family: "advent pro";
      border: 1px solid white;
      border-radius: 14rem;
      padding: 0.2rem 1rem;
      font-size: 1.2rem;
      font-size: clamp(0.6rem, 0.2rem + 1.2vw, 2rem);
    }
  }
  .portfolio-title {
    font-size: clamp(1rem, 1rem + 1.5vw, 4rem);
  }
}

.footer {
  position: relative;
  height: 100svh;
  // background-color: blue;
  .navigation {
    font-size: 0.9rem;
  }
  .footer-image {
    background-color: blue;
    // height: 16rem;
    object-fit: cover;
    height: clamp(16rem, 40vh, 30rem);
  }
  .contact-text {
    font-family: "advent pro";
    font-size: 5rem;
    font-size: clamp(3rem, 0.6rem + 5vw, 7rem);
  }
  .label {
  }
  .credits {
    bottom: 44px;
    position: absolute;
  }
  .socials {
    margin-top: min(5rem, calc(100vh / 24 * 4));
    button {
      height: 40px;
      width: 40px;
      svg {
        margin: auto;
      }
    }
  }
}

body::before {
  --cal: calc(8.3333333333% - 1px);
  // --cal: calc(50% - 1px);
  content: "";
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 3;
  mix-blend-mode: difference;
  background: repeating-linear-gradient(
    to left,
    rgba(245, 242, 235, 0) 0 var(--cal),
    #f5f2eb var(--cal) calc(var(--cal) + 1px)
  );
  // background: repeating-linear-gradient(to bottom, rgba(245, 242, 235, 0) 0 var(--cal), #f5f2eb var(--cal) calc(var(--cal) + 1px));
  --to-opacity: 0.2;
  opacity: var(--to-opacity);
}

.cv {
  // font-family: "Alata";
  font-size: 1.2rem;
  font-weight: 300;
}

.blur-overlay {
  height: 100vh;
  top: 0px;
  z-index: -1;
  opacity: 0.4;
  width: 100vw;
  filter: blur(120px);
  .blurred {
    border-radius: 50%;
    position: absolute;
  }
  .blurred:nth-child(1) {
    width: 529px;
    height: 491px;
    left: 857px;
    top: 512px;
    background: linear-gradient(
      90deg,
      hsla(50, 68%, 93%, 1) 0%,
      hsla(18, 88%, 66%, 1) 50%,
      hsla(288, 55%, 55%, 1) 100%
    );
  }
  .blurred:nth-child(2) {
    width: 282px;
    height: 374px;
    left: 196px;
    top: 458px;
    background: linear-gradient(
      90deg,
      hsla(352, 83%, 64%, 1) 0%,
      hsla(230, 90%, 68%, 1) 100%
    );
  }
  .blurred:nth-child(3) {
    width: 230px;
    height: 282px;
    left: 104px;
    top: 105px;
    background: linear-gradient(
      90deg,
      hsla(297, 69%, 51%, 1) 0%,
      hsla(310, 100%, 69%, 1) 49%,
      hsla(23, 100%, 50%, 1) 100%
    );
  }
}
.spinner {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #0000ff;
  position: absolute;

  bottom: 7.5rem;
  right: 5rem;
  cursor: pointer;
}
.dark {
  background-color: black;
  color: white;
  .navigation {
    --font-color: #fff;
  }
  .hero {
    background-color: #ffffff28;
  }
  .bg-opaque {
    background: #171717f0;
  }
  // .cta {
  //   color: #000;
  //   background-color: #fff;
  // }
}

// .blur-overlay {
//   height: 100vh;
//   top: 0px;
//   z-index: -1;
//   opacity: 0.4;
//   width: 100vw;
//   filter: blur(100px);
//   .blurred {
//     border-radius: 50%;
//     position: absolute;
//   }
//   .blurred:nth-child(1) {
//     width: 529px;
//     height: 491px;
//     left: 857px;
//     top: 512px;
//     background: rgba(217, 147, 61, 0.2);
//   }
//   .blurred:nth-child(2) {
//     width: 282px;
//     height: 374px;
//     left: 196px;
//     top: 458px;
//     background: rgba(242, 242, 242, 0.3);

//   }
//   .blurred:nth-child(3) {
//     width: 230px;
//     height: 282px;
//     left: 104px;
//     top: 105px;
//     background: rgba(242, 82, 96, 0.3);
//   }
//   .blurred:nth-child(4) {
//     width: 361px;
//     height: 386px;
//     left: 277px;
//     top: 638px;
//     background: rgba(178, 77, 203, 0.3);
//   }
//   .blurred:nth-child(5) {
//     width: 561px;
//     height: 526px;
//     left: 865px;
//     top: -207px;
//     background: rgba(178, 77, 203, 0.4);
//   }
//   .blurred:nth-child(6) {
//     width: 236px;
//     height: 272px;
//     left: 221px;
//     top: 47px;
//     background: rgba(242, 168, 29, 0.2);
//   }
//   .blurred:nth-child(7) {
//     width: 370px;
//     height: 403px;
//     left: 46px;
//     top: 621px;
//     background: rgba(217, 147, 61, 0.4);
//   }
// }
